<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="top">
      <button mat-button (click)="sidenav.toggle()" class="side-by-side">
        <mat-icon>menu</mat-icon>
      </button>
      <app-toolbar class="side-by-side"></app-toolbar>
    </div>
    <div class="bottom">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
