<app-demo-page-header
  title="This page shows the Cards used in Angular Material"
></app-demo-page-header>

<app-demo-material-reference
  linkUrl="https://material.angular.io/components/card/overview"
  linkName="Material Cards"
  toolbarColor="accent"
></app-demo-material-reference>

<div>
  <header class="mat-title">Basic Card</header>
  <mat-card>Basic card</mat-card>

  <header class="mat-title">
    Card with title, content, and actions (right aligned) sections.
  </header>
  <mat-card>
    <mat-card-title>Card title </mat-card-title>
    <mat-card-content>
      This is the content
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
