<div>
  <header class="mat-title">Tooltips</header>
  <button mat-button color="primary" mat-raised-button matTooltip="Tooltip 1">
    Button with tooltip
  </button>

  <header class="mat-title">Tooltip positions</header>
  <button
    mat-button
    color="primary"
    mat-raised-button
    class="before"
    matTooltipPosition="before"
    matTooltip="Tooltip 1"
  >
    Button with tooltip before
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    matTooltipPosition="after"
    matTooltip="Tooltip 1"
  >
    Button with tooltip after
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    matTooltipPosition="above"
    matTooltip="Tooltip 1"
  >
    Button with tooltip above
  </button>
  <button
    mat-button
    color="primary"
    mat-raised-button
    matTooltipPosition="below"
    matTooltip="Tooltip 1"
  >
    Button with tooltip below
  </button>

  <header class="mat-title">Tooltips with delays</header>
  <button
    mat-button
    color="primary"
    mat-raised-button
    matTooltipPosition="below"
    matTooltip="Tooltip 1"
    matTooltipShowDelay="2000"
    matTooltipHideDelay="2000"
  >
    Button with tooltip show and hide delayed for 2seconds
  </button>
</div>
