<app-demo-page-header
  title="This page shows the Form Fields used in Angular Material"
></app-demo-page-header>

<mat-tab-group [selectedIndex]="4">
  <mat-tab label="Inputs">
    <app-input-fields></app-input-fields>
  </mat-tab>
  <mat-tab label="Select">
    <app-material-select></app-material-select>
  </mat-tab>
  <mat-tab label="Autocomplete">
    <app-autocomplete></app-autocomplete>
  </mat-tab>
  <mat-tab label="Checkboxes and Radio buttons">
    <app-checkbox-radio-buttons></app-checkbox-radio-buttons>
  </mat-tab>
  <mat-tab label="Date Picker">
    <app-date-picker></app-date-picker>
  </mat-tab>
</mat-tab-group>
