<div>
  <header class="mat-title">Checkboxes</header>
  <mat-checkbox>
    Subscribe
  </mat-checkbox>

  <header class="mat-title">Checkboxes with label on the left</header>
  <mat-checkbox labelPosition="before">
    Subscribe
  </mat-checkbox>

  <header class="mat-title">Checkboxes with different colors</header>
  <mat-checkbox color="primary">
    Primary
  </mat-checkbox>
  <mat-checkbox color="warn">
    Warn
  </mat-checkbox>
  <mat-checkbox color="accent">
    Accent
  </mat-checkbox>
</div>

<div>
  <header class="mat-title">Radio buttons</header>
  <mat-radio-group>
    <mat-radio-button value="Angular">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button value="vue">Vue</mat-radio-button>
  </mat-radio-group>

  <header class="mat-title">
    Radio buttons with different colors (warn is the primary color)
  </header>
  <mat-radio-group>
    <mat-radio-button value="Angular" color="primary">Angular</mat-radio-button>
    <mat-radio-button value="react">React</mat-radio-button>
    <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
  </mat-radio-group>
</div>
