<app-demo-page-header
  title="This page shows the use of toolbars in Angular Material"
></app-demo-page-header>

<div>
  <header class="mat-title">Using toolbars with color</header>
  <mat-toolbar color="primary">
    <span>Toolbar header - primary color</span>
  </mat-toolbar>
  <mat-toolbar color="accent">
    <span>Toolbar header - accent color</span>
  </mat-toolbar>
  <mat-toolbar color="warn">
    <span>Toolbar header - warn color</span>
  </mat-toolbar>
</div>

<div>
  <header class="mat-title">Convert A Toolbar to Navbar</header>
  <header class="mat-title">
    A Toolbar is what we use to create a Navbar in Angular material
  </header>
  <mat-toolbar color="primary" class="navbar">
    <div>Aluui</div>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Services</span>
      <span>Contact</span>
    </div>
  </mat-toolbar>
</div>
