<app-demo-page-header
  title="This page shows the Stepper used in Angular Material"
></app-demo-page-header>
<div>
  <header class="mat-title">Horizontal Stepper</header>
  <mat-horizontal-stepper>
    <mat-step label="Shipping Address">Shipping Address</mat-step>
    <mat-step label="Billing Address">Billing Address</mat-step>
    <mat-step label="Place Order">Place Order</mat-step>
  </mat-horizontal-stepper>

  <header class="mat-title">
    Horizontal Stepper with previous and next buttons
  </header>
  <mat-horizontal-stepper>
    <mat-step label="Shipping Address">Shipping Address</mat-step>
    <mat-step label="Billing Address">
      <p>Billing Address</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order">Place Order</mat-step>
  </mat-horizontal-stepper>

  <header class="mat-title">
    Linear Horizontal Stepper (Previous step must be complete before proceeding)
  </header>
  <mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="true"
      >Shipping Address</mat-step
    >
    <mat-step label="Billing Address" completed="false">
      <p>Billing Address</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order" completed="false">Place Order</mat-step>
  </mat-horizontal-stepper>

  <header class="mat-title">
    Linear Horizontal Stepper with optional steps
  </header>
  <mat-horizontal-stepper linear>
    <mat-step label="Shipping Address" completed="true" optional
      >Shipping Address</mat-step
    >
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing Address</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order" completed="false">Place Order</mat-step>
  </mat-horizontal-stepper>

  <header class="mat-title">
    Vertical Stepper
  </header>
  <mat-vertical-stepper linear>
    <mat-step label="Shipping Address" completed="true" optional
      >Shipping Address</mat-step
    >
    <mat-step label="Billing Address" completed="false" optional>
      <p>Billing Address</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Place Order" completed="false">Place Order</mat-step>
  </mat-vertical-stepper>
</div>
